/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
  margin: auto;
}

body * {
  margin: 0;
  padding: 0;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

h3 {
  margin: 20px 0;
}
a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}
/****** Nav *****/
footer,
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.Localisation .fa-solid {
  color: black;
}

.nav-hover {
  border: 2px transparent solid;
  padding-top: 19px;
}

.nav-hover:hover {
  border-top: 2px #0065fc solid;
  color: hsl(216, 100%, 49%);
}

.nav {
  display: flex;
  flex-direction: row;
  gap: 68px;
  padding-top: 30px;
}

.Logo img {
  padding-top: 30px;
  width: 61px;
  height: auto;
}

.span-info-icon {
  border: 1px gray solid;
  padding: 3px 9px;
  border-radius: 50%;
  color: #0065fc;
}

.filtretitle {
  font-size: 18px;
}

/****** Headline ******/
.Headline {
  margin: 20px 0;
}

.Localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 15px 0px 0px 15px;
  width: 50px;
}

.search-bar {
  display: flex;
  margin: 35px 0;
}

.text-search {
  border: 1px #f2f2f2 solid;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
}

.search-desktop {
  background-color: #0065fc;
  color: white;
  border-radius: 0px 15px 15px 0px;
  width: 132px;
  height: 49px;
  border: 0;
  font-weight: 700;
  font-size: 16px;
}

.search-mobile {
  display: none;
}

.filtres {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  font-size: 17px;
  font-weight: 700;
  margin: 35px 0;
}

.button-filtre {
  border: #d9d9d9 2px solid;
  border-radius: 25px;
  padding: 4px 19px;
  gap: 15px;
  margin-right: 15px;
  padding: 10px 19px;
}

.button-filtre i {
  margin: 6px;
}

.button-filtre:hover {
  background-color: #deebff;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
}

.hebergements-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.hebergements-cards .card {
  width: 100%;
  height: 207.25px;
  margin-top: 30px;
}

.hebergements-cards img {
  width: 100%;
  height: 124px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
  width: 100%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hebergements-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
  margin: 0;
}

.hebergements-cards .card-rating {
  margin-bottom: 5px;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/****** activité ******/
.Activites h2 {
  margin: 20px 0;
}

.Activites {
  padding: 30px;
}

.Activites-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}

.Activites-cards .card {
  width: 100%;
  height: 439px;
  padding: unset;
}

.Activites-cards img {
  width: 100%;
  height: 380px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}

.Activites-cards .card-content {
  width: 100%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Activites-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

/**** footer *****/
footer {
  background-color: #f2f2f2;
  display: flex;
  align-items: flex-start;
  padding-left: 20px;
  padding-right: 25%;
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 7px 0;
}
/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  /****** Nav *****/

  /****** Headline ******/
  .filtres {
    display: grid;
    grid-column: auto;
    font-size: 15px;
  }

  .filtretitle {
    margin-bottom: 18px;
  }

  /****** Hebergements And Populaires ***********/
  .hebergements-and-populaires {
    flex-direction: column;
  }

  /****** Hebergements ***********/
  .hebergements {
    width: 100%;
  }

  /****** Populaires ***********/
  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
  /****** activité ******/
  .Activites-cards {
    gap: 10px;
  }

  .Activites-cards .card {
    height: 270px;
  }

  .Activites-cards img {
    height: 200px;
  }

  .Activites-cards .card-title {
    margin-top: 15px;
    font-size: 13px;
  }

  /**** footer *****/
  footer {
    padding-right: 15%;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  .main-container {
    padding: 0;
  }

  /****** Nav *****/
  header {
    flex-direction: column;
  }

  .nav {
    gap: 0;
    width: 100%;
  }

  .nav-hover {
    width: 50%;
    text-align: center;
    border-bottom: 2px #d9d9d9 solid;
    padding: 15px;
  }

  .nav-hover:hover {
    border-top: transparent;
    border-bottom: 2px #0065fc solid;
  }

  .Headline {
    padding: 0 5%;
  }
  /****** Headline ******/
  .text-search {
    display: block;
    width: 90%;
    height: 63px;
  }

  .search-desktop {
    display: none;
  }

  .search-mobile {
    position: absolute;
    right: 1px;
    display: none;
    display: block;
    background-color: #0065fc;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    height: 63px;
    width: 63px;
    border: 0;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
  }

  .search-mobile .fa-solid {
    color: white;
  }

  .filtres-btn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  /****** Hebergements And Populaires ***********/
  .hebergements-and-populaires {
    flex-direction: column-reverse;
  }
  .hebergements-and-populaires section {
    border-radius: 0;
  }

  /****** Hebergements ***********/
  .hebergements {
    background-color: white;
  }

  .hebergements-cards {
    display: flex;
    flex-direction: column;
  }
  .hebergements-cards img {
    height: 124px;
  }

  .hebergements-cards .card-content {
    height: 50px;
  }

  /****** Populaires ***********/
  .populaires-cards {
    display: flex;
    flex-direction: column;
  }

  .populaires-cards a {
    width: 100%;
  }

  .populaires-cards img {
    height: 146px;
  }

  .populaires-cards .card-content {
    width: 335px;
  }

  /****** activité ******/
  .Activites-cards {
    display: flex;
    flex-direction: column;
  }
  .Activites-cards .card {
    height: 200px;
  }

  .Activites-cards img {
    height: 141px;
  }

  /**** footer *****/
  footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
